@model List<Student>

<h1>Lista Studentow</h1>
    <form method="POST" action="/students/Add">
        
        Name:
        <input id="Name" name="Name" type="text"/>
        LName:
        <input id="LName" name="LName" type="text"/>

        <button type="submit">Ok</button>
    </form>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>LName</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var st in Model)
        {
            <tr>
                <td>
                    @st.IdProduct
                </td>
                <td>
                    @st.Name
                </td>
                <td>
                    @st.Lname
                </td>
            </tr>
        }
    </tbody>
</table>